/**************/
/* CSS REMEDY */
/**************/
@font-face {
	font-family: "Dunkin Sans";
	src: url("../dunkin-fonts/Dunkin-Sans.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: "Dunkin Sans";
	src: url("../dunkin-fonts/Dunkin-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: fallback;

}

*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	/* startje */
	--color-text: #111;
	--color-background: #eee;
	--color-background-nav: #ffffff;
	--color-background-store-finder: #e01488;
	--color-background-App: #71c5e8;
	--color-background-main-button: #ff6e0c;
	--color-background-secondary-button: #ffffff;
	--font-size-h2: 3em;
	--font-size-h3: 4.3em;
	--main-font-color: #ff6e0c;
	--secondary-font-color: #e01488;
	--Third-font-color: #aaaaaa;
	--white-font-color: #ffffff;
	--color-slider-text: #512d00;
	--color-sticker-background: #ff6e0c;
	--color-background-bestel:#e01488;
	--color-background-intro:  #ff6e0c;
	/* teede pagina */
	--color-font-heding:  rgb(198, 54, 99);
	--color-font-paragraph: rgb(198, 54, 99);

}


body {
	width: 100%;
	height: 100%;
	margin: auto;
	font-family: "Dunkin Sans";
	font-weight: normal;
	background-color:  var(--color-background);


}

body.navOpen {
	overflow: hidden;
}

footer {
	width: 100%;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 7.5em;
	position: relative;
}
